// bower:scss
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold);
@import "foundation/scss/foundation.scss";
@import "foundation-icons/foundation_icons_general/sass/general_foundicons.scss";
@import "foundation-icons/foundation_icons_social/sass/social_foundicons.scss";
// endbower

.top-bar{
  .motto{padding: 0 15px;
    line-height: 45px;
    background: #333333;
    display: block;
    width: 100%;
    color: white;
    padding-left: 15px;
    font-size: .9rem;
    font-weight: normal;
    text-transform: none;}
  .name{
    h1{
      font-size:1.7rem;
      .chiseled{
        font-family: 'Droid Sans', sans-serif;
        font-weight:bold;
        color: transparent;
        text-stroke: 2px rgba(0,0,0,0.2); /* Text stroke */
        text-stroke: 0;
        color: transparent;
        background-color: rgba(255,255,255,0.8);
        -webkit-background-clip: text;
        text-shadow: rgba(32,32,32,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
      }
    }

  }
}


@media only screen and (min-width: 40.063em){
  .top-bar{
    background: rgb(51, 51, 51);
  }
}